@namespace url(http://www.w3.org/1999/xhtml);


@-moz-document domain("drive.google.com"), url-prefix("http://docs.google.com/document/u/"), url-prefix("https://docs.google.com/document/u/") {

  html, body, .drive_main_page {
    background: #333 !important;
  }
  
  input {
    background: #444 !important;
    color: #aaa !important;
  }
  
/* Header bar */
  .gb_Xc .gb_3b {
    /*home_sidebar_color*/
    background: #404040 !important;
  }
  
  /* +<Google+ Username> */
  #gb#gb a.gb_k, #gb#gb a.gb_l {
    color: #aaa !important;
  }
  
  /* Search bar outer box */
  .gbqfqw {
    background: #444 !important;
  }
  
/* Toolbar */
  /* Quick hack */
  .a-R-K {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'><feColorMatrix in='SourceGraphic' type='matrix' values='-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0'/></filter></svg>#invert");
    -webkit-filter: invert(100%);
    
    background: #fdfdfd !important;
  }

/*
  .a-R-K {
  	background: /*[[home_list_color]]* !important;
  }

  .a-k-Ra .a-pa-Ra-ye, .a-k-Ra .a-pa-Ra-Zi, /* Location *
  .a-d-e /* Buttons * {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'><feColorMatrix in='SourceGraphic' type='matrix' values='-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0'/></filter></svg>#invert");
    -webkit-filter: invert(100%);
    
    background: #fdfdfd !important;
  }
*/
  
/* Files */
/* List view */
  .a-u {
    /*home_list_color*/
    background: #333333 !important;
    color: #ddd !important;
  }
  
  /* List view folder background */
  .a-u-m.a-u-yb-Oi {
    /*home_list_color*/
    background: #333333 !important;
  }
  
  /* List view sort bar */
  .a-u-R {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'><feColorMatrix in='SourceGraphic' type='matrix' values='-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0'/></filter></svg>#invert");
    -webkit-filter: invert(100%);

    background: #fcfcfc !important;
  }
  
/* Grid view */
  /* Grid view tabs */
  .k-v-n-M-m {
    background: #272727 !important;
  }
  
  /* Grid view document names */
  .k-v-M {
    color: #ddd !important;
  }
  
/* Left Sidebar */
  .a-jb-Ha {
    /*home_sidebar_color*/
    background: #404040 !important;
    color: #ddd !important;
  }

  /* Hovered item */
  :not(.a-U-ag-da) > .a-U-H:hover {
    background: none !important;
  }

  /* Selected item */
  .a-U-ag-da > .a-U-H {
    background-color: #4285F4 !important;
  }

  /* Selected item text */
  .a-U-ag-da > .a-U-H > .a-U-H-s {
    color: #E9E5D4 !important;
  }
  
/* Right sidebar */
  /* Sidebar Background */
  .a-Ud-m {
    /*home_sidebar_color*/
    background: #404040 !important;
  }
  
  /* Document Title */
  .a-ng-M-P {
    color: #ddd !important;
  }
  
  /* Selected Tab */
  .a-Ud-N-K > .j-N-K > .j-N.j-N-da {
    color: #aaa !important;
  }
  
  /* Unselected Tab */
  .a-Ud-N-K > .j-N-K > .j-N {
    color: #888 !important;
  }

  /* Details Tab */

  /* Details Text */
  .k-q-jc-Dj {
    color: #ddd !important;
  }
  
  /* Activity Tab */
  
  /* Activity Content Background */
  .w-t-m {
    background: #202020 !important;
  }
  
  /* Activity Content Headings ("Earlier this week") */
  .w-y-Bd-M {
    color: #aaa !important;
  }
  
  /* Activity Content Heading - Scrolled up*/
  .w-t-hq-R .w-y-Bd-M {
    background: #202020 !important;
    opacity: 0.9 !important;
  }
  
  /* Activity Content */
  .w-y {
    background-color: #333 !important;
  }
  
  /* Activity Content Document Names */
  .w-y-q-m {
    color: #aaa !important;
  }
  
  /* Activity Content Dates */
  .w-y-kr {
    color: #888 !important;
  }
  
  /* Activity Content Action ("You created an item in") */
  .w-y-q-R {
    color: #aaa !important;
  }

}


@-moz-document url-prefix("http://docs.google.com/document/d/"), url-prefix("https://docs.google.com/document/d/") {
  
  /* PAGE */

  .kix-page,
  /* .kix-page *, */
  .kix-page-content-wrapper {
    /*page_bgrnd_color*/
    background: #333333 !important;
  }

  .kix-page-paginated,
  .kix-paginateddocumentplugin-compact-mode {
    box-shadow: none !important;
  }
  
  .kix-page span,
  .kix-wordhtmlgenerator-word-node {
    /*normal_text_color*/
    color: #DDDDDD !important;
  }
  
  .kix-cursor-caret {
    display: block !important;

    /*caret_border_color*/
    border-color: #CC9922 !important;

    /*caret_glow_color*/
    box-shadow: 0 0 0px #FFBB55,
                0 0 15px #FFBB55,
                0 0 50px #FFBB55;
  }

  /* Print Layout disabled fixes */

  .kix-paginateddocumentplugin-compact-mode {
    border: 1px solid #111 !important;
  }

    /* Unique selector for .docs-ui-unprintable */
  .kix-paginateddocumentplugin > div:nth-child(3) {
    background: #333333 !important;
  }
  
  /* Background */
  
  #docs-editor {
    background: #111 !important;
  }

  /* Ruler */
  #kix-ruler {
    border-bottom: none !important;
  }

  .kix-ruler-background-inner {
    background: #444 !important;
  }

  .kix-ruler-face-number {
    color: #aaa !important;
  }

  .kix-ruler-face-minor-division, .kix-ruler-face-major-division {
    border-left: 1px solid #aaa !important;
  }

  /* Navigation and Menu */

  /* Equation toolbar */
  .kix-equation-toolbar-icon, .kix-equation-toolbar-palette {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'><feColorMatrix in='SourceGraphic' type='matrix' values='-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0'/></filter></svg>#invert");
  }

  .kix-equation-toolbar-palette-item {
    border-color: 1px solid #444 !important;
  }

  /* Toolbar Menu Search */
  .goog-toolbar {
    background: #444 !important;
  }
  
  .docs-omnibox-input {
    background: #333 !important;
    color: #aaa !important;
  }
  
  .jfk-textinput {
    border-color: #555 !important;
  }
  
  .docs-omnibox-autocomplete .ac-renderer {
    background: #555 !important;
    box-shadow: 0 0 1px #444,
                0 0 2px #444,
                0 0 4px #444;
    border: 1px solid #666 !important;
  }
  
  .docs-omnibox-autocomplete .ac-active {
    background: #333 !important;
  }

}


@-moz-document url-prefix("http://docs.google.com/spreadsheets/d/"), url-prefix("https://docs.google.com/spreadsheets/d/") {

  /* Canvas */
  /* See http://www.w3.org/TR/selectors/#lex */
  div[id*='grid-table-container'] > canvas {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'><feColorMatrix in='SourceGraphic' type='matrix' values='-0.8 0 0 0 0.84 0 -0.8 0 0 0.84 0 0 -0.8 0 0.84 0 0 0 1 0'/></filter></svg>#invert");
  }

  .grid-container {
    background-color: #111 !important;
  }

  /* Formula bar */
  #formula-bar {
    background: #333 !important;
  }

  #t-formula-bar-input {
    background: #333 !important;
    color: #ddd !important;
  }

  .formula-content > .insert-range-indicator {
    background: #3E3F00 !important;
  }

  .default-formula-text-color {
    color: #4ECFE4 !important;
  }

  .formula-content > .number {
    color: #FF93F6 !important;
  }

  .formula-content > .inactive {
    opacity: 0.7 !important;
  }

  /* Formula -> function autocomplete */
  .waffle-ac-active {
    background-color: #441020 !important;
    border-top: 1px solid #333 !important;
    border-bottom: 1px solid #333 !important;
  }

  .waffle-ac-renderer {
    background-color: #333 !important;
  }

  .waffle-function-autocomplete-row-name {
    color: #FF8888 !important;
  }

  .waffle-arguments-help-body {
    border-top: 1px solid #4D353C !important;
  }

  .waffle-function-autocomplete-row-description {
    color: #b7b7b7 !important;
  }

  /* Formula -> function help */
  .waffle-arguments-help-title {
    background-color: #220710 !important;
    color: #FF8888 !important;
  }

  .waffle-arguments-help-popup {
    background-color: #441020 !important;
    color: #b7b7b7 !important;
  }

  .waffle-arguments-help-section-title {
    /* background-color: #2a2a2a !important; */
    color: #777 !important;
  }

  .waffle-arguments-help-parameter-active {
    background-color: #3E3F00 !important;
  }

  /* Random white elements */
  .grid-shim-bottom {
    background-color: #636363 !important;
  }

  .gb_5,
  .gbqfba:hover,
  .dcs-j-dcs-l-dcs-qh,
  .dcs-j-dcs-l-dcs-qh:active,
  .dcs-j-dcs-l-dcs-we,
  .dcs-vd-dcs-wd-dcs-tc button:active,
  .dcs-r-dcs-je-dcs-lf-dcs-l-dcs-qh,
  .dcs-r-dcs-kf-dcs-lf-dcs-l-dcs-qh,
  .dcs-j-dcs-l-dcs-xg {
    background: #636363 !important;
  }

  /* Sheets bar */
  .grid-bottom-bar {
    background-color: #1A1A1A !important;
  }

  .docs-sheet-tab {
    background-color: #222 !important;
    color: #bbb !important;
  }

  .docs-sheet-tab-hover {
    background-color: #444 !important;
    color: #bbb !important;
  }

  .docs-sheet-active-tab {
    background-color: #444 !important;
    color: #bbb !important;
  }

}


@-moz-document url-prefix("http://docs.google.com/document/d/"), url-prefix("https://docs.google.com/document/d/"), url-prefix("http://docs.google.com/spreadsheets/d/"), url-prefix("https://docs.google.com/spreadsheets/d/") {

  /* Navigation and Menu */
  
  #docs-chrome {
    background: #333 !important;
    color: #999 !important;
  }
  
  .docs-title-inner {
    color: #777 !important;
  }
  
  /* Toolbar strip */
  
  .goog-toolbar-separator.goog-inline-block {
    border-left: 1px solid #666 !important;
  }
  
  #docs-toolbar-wrapper {
    background-color: #444 !important;
    background-image: none !important;
    border-color: #777 !important;
    box-shadow: 0px 1px 0px 0px #808080 inset !important;
  }
  
  .goog-toolbar-button, .goog-toolbar-menu-button, .goog-toolbar-combo-button-input {
    color: #aaa !important;
  }
  
  .goog-menu {
    background: #555 !important;
    box-shadow: 0 0 1px #444,
                0 0 2px #444,
                0 0 4px #444;
    border: 1px solid #666 !important;
  }
  
  .goog-menuitem, .goog-tristatemenuitem, .goog-filterobsmenuitem {
    color: #ddd !important;
  }
  
  .docs-icon-img:before {
    /* invert icon colors */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'><feColorMatrix in='SourceGraphic' type='matrix' values='-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0'/></filter></svg>#invert");
    -webkit-filter: invert(100%);
  }
  
  .goog-toolbar-button-selected, .goog-toolbar-button-checked, .goog-toolbar-menu-button-open {
    background-image: -moz-linear-gradient(center top , #888, #8F8F8F);
  }
  
  .goog-toolbar-button-hover, .goog-toolbar-menu-button-hover {
    background-image: -moz-linear-gradient(center top , #999, #9F9F9F);
  }
  
  /* Popup menus */
  /* Will be implemented 6-8 weeks from whenever it is that you read this. */

}

